<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <h1>Cadastrar Decisor | Projeto {{projeto_nome}}</h1>
    <form method="post">
        {% csrf_token %}
        {{decisor_form}}
        <input type="submit" value="Cadastrar">
        <button>Acabei</button>
    </form>

    {% if decisores %}
    <ul>
        {% for decisor in decisores %}
            <li>{{decisor.nome}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
</body>
</html>