{% extends "base.html" %}
{% block container %}

<h1>Projeto {{projeto_nome}}</h1>
<hr>
<h2>Cadastrar Decisor</h2>

<br>

<form method="post">
    {% csrf_token %}
    {{decisor_form}}
    <input type="submit" class="btn btn-outline-primary" value="Cadastrar">
    <a href="{% url 'cadastraalternativas' projeto_id %}" class="btn btn-outline-success">Finalizar</a>
</form>

<br>

{% if decisores %}

<table class="table table-striped" style="width: 50%; margin:0 auto; text-align: left">
    <thead>
        <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Decisor</th>
        </tr>
    </thead>
    <tbody>
        {% for decisor in decisores %}
            <tr>
                <!-- <th scope="row">{{decisor.id}}</th> -->
                <td>{{decisor.nome}}</td>
        
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}