{% extends "base.html" %}
{% block container %}

<h1>Resultado | Projeto {{projeto_nome}}</h1>
<hr>
<hr>

{{resultado}}

<hr>

{% for i in resultado %}
    {% for j in i %}
        {{j}}
        <br>
    {% endfor %}
    <hr>
{%  endfor %}

<hr>
<hr>

<h3>Pesos</h3>
<p>Critério <strong>Conforto</strong> - 0.015</p>
<p>Critério <strong>Beleza</strong> - 1.5</p>
<p>Critério <strong>Segurança</strong> - 3.0</p>

<hr>

<h3>Ordenação</h3>
<p>1° - <strong>Palio</strong> - 13.545</p>
<p>2° - <strong>HB20</strong> - 6.7725</p>
<p>3° - <strong>Gol</strong> - 0.0</p>

{% endblock %}
