{% extends "base.html" %}
{% block container %}

<h1>Resultado | Projeto {{projeto_nome}}</h1>

<h3>Pesos</h3>
{% for peso_criterio in pesos_criterios %}
    <p>Critério - <strong>{{peso_criterio.0}}</strong> - {{peso_criterio.1 }}</p>

{% endfor %}

<hr>

<h3>Ordenação</br>
</h3>

{% for i in resultado %}

    {{ forloop.counter }}º -- <strong>{{i.0}}</strong> -- {{i.1}}
    </br></br>

{% endfor %}

<hr>

<a href="{% url 'deletarprojeto' projeto_id=projeto_id %}" class="btn btn-danger btn-lg btn-block">Deletar projeto</a>

{% endblock %}
